[submodule "public"]
	path = public
	url = https://github.com/orbitrs/.github.git
[submodule "docs"]
	path = docs
	url = https://github.com/orbitrs/docs.git
[submodule "examples"]
	path = examples
	url = https://github.com/orbitrs/examples.git
[submodule "orbit"]
	path = orbit
	url = https://github.com/orbitrs/orbit.git
[submodule "orlint"]
	path = orlint
	url = https://github.com/orbitrs/orlint.git
[submodule "orbiton"]
	path = orbiton
	url = https://github.com/orbitrs/orbiton.git
[submodule "orbit-mcp"]
	path = orbit-mcp
	url = https://github.com/orbitrs/orbit-mcp.git
